{% macro render_field(field) %}
<div class="form-floating">
    {{ field(class_='form-control', **kwargs)|safe }}
    <label for="{{ field.name }}">{{ field.label.text }}</label>
    {# showing error messages #}
    <ul>
    {% for error in field.errors %}
           <li style="color: red;">{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro back_button() %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div style="padding-bottom: 10px" class="btn-group" role="group" aria-label="Third group">
        <button type="button" class="btn btn-danger" onclick="goBack()"> < Back </button>
    </div>
{% endmacro %}





