{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{# Importing macro #}
{% from "_macros.html" import render_field %}

{% block content %}
{#<h1>Sign In</h1>#}
{#    <form action="" method="post">#}
{#  for protection(used with Encription key#}
{#    {{ form.hidden_tag() }}#}
{#    <p>#}
{#       {{ render_field(form.username) }}#}
{#    </p>#}
{#    <p>#}
{#        {{ form.password.label }} <br>#}
{#        {{ form.password(size=32) }} <br>#}
{#         showing error messages#}
{#        {% for error in form.password.errors %}#}
{#        <span style="color: red;">{{ error }}</span>#}
{#        {% endfor %}#}
{#    </p>#}
{#    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>#}
{#    <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#    <p>New User? <a href="{{ url_for('register') }}">Click to Register</a></p>#}



{#    Test code     #}
  <head>
      <title>Sign In </title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="static/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">

{#  Sing in form#}
<main class="form-signin">
  <form action="" method ="post" action="/">
      {{ form.csrf_token }}
{#        for protection used with Encription key #}
    {{ form.hidden_tag() }}

    <img class="mb-4" src="/icons8-user.png" alt="" width="72" height="57">
    <h1 class="h1 mb-3 fw-normal">Welcome!</h1>
    <h3 class="h5 mb-3 fw-normal">Please sign in</h3>

      {{ render_field(form.username, id="floatingInput", placeholder=form.username.label.text) }}
      {{ render_field(form.password, id="floatingPassword", placeholder=form.password.label.text) }}

    <div class="checkbox mb-3">
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
    <a href="{{ url_for('register') }}" class="link-primary" style="padding: 10px 10px 0px 10px; display: inline-block;">Register</a>
    <a href="#" class="link-danger">Forgot password</a>
    <p class="mt-3 mb-3 text-muted">Made by TimurG 2021</p>

  </form>
</main>
  </body>


{% endblock %}